/* Keep body color for contrast */
body { background-color: #f8f9fa; }

.auth-body {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.card {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

a {
    color: #007bff;
}
/* Custom styles for tag items in modal */
.tag-item-input {
    border: 1px solid transparent;
    border-radius: .375rem;
    padding: .375rem .75rem;
}
.tag-item-input:focus {
    outline: 0;
    border: 1px solid #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.tag-checkbox-list {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 1rem;
}